<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.MixedReality.SceneUnderstanding" version="0.5.2065" />
  <package id="Microsoft.NETCore.Platforms" version="3.1.1" />
  <package id="Microsoft.NETCore.Targets" version="3.1.0" />
  <package id="Microsoft.VCRTForwarders.140" version="1.0.6" />
  <package id="Microsoft.Windows.MixedReality.DotNetWinRT" version="0.5.1049" />
  <package id="System.Drawing.Primitives" version="4.3.0" />
  <package id="System.Runtime" version="4.3.1" />
  <package id="System.Runtime.Extensions" version="4.3.1" />
</packages>